*{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
}
header{
    height: 70px;
    background-color: rgba(0, 119, 255, 0.5);
    display: flex;
    width: 100%;
    margin: auto;
    font-size: 20px;
}
header .fhead{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0);
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
header .fhead p{
    background-color: rgba(0, 0, 0, 0);
    margin:auto;
}
.gap{
    width: 600px;
    background-color: rgba(0, 0, 0, 0);
}
header .bhead{
    background-color: rgba(0, 0, 0, 0);
    margin:auto ;
}
header .bhead p{
    background-color: rgba(0, 0, 0, 0);
    margin:auto ;
}
.container1{
    border: 1px solid black;
    background-image:url(gym1.jpg);
    width: 100%;
    margin: auto;
    padding: auto;
    background-repeat: no-repeat;
    background-size:cover; 
    height: 800px;
    display: flex;
}
.gap1{
    width: 55%;
    background-color: rgba(0, 0, 0, 0);
}
.gap1 p{
    width: 50%;
}
.righttitle{
    background-color: rgba(0, 0, 0, 0);
}
.title1{
    background-color: rgba(0, 0, 0, 0);
    padding-left: 60px;
    padding-top: 75%;
    padding-bottom: 20px;
    margin:auto;
    font-size: 100px;
}
.subtitle1{
    background-color:rgba(0, 0, 0, 0);
    font-size: 30px;
    margin: auto;
    padding-left: 60px;
    padding-top: 20px;
}
.container2{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 600px;
    width: 100%;
    margin: auto;
    padding: auto;
}
.container25{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    width: 40%;
    height: 600px;
}
.title2{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    padding-left: 50px;
    padding-top: 250px;
    padding-bottom:30px ;
    margin:auto;
    font-size: 70px;
}
.subtitle2{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    padding-left:50px;
    margin: auto;
    font-size: 30px;
}
.gap2{
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size:cover; 
    
}
.gap2 img{
    background-size: cover;
    height: 600px;
}
.container3{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    height: 600px;
    width: 100%;
    margin: auto;
    padding: auto;
}
.container35{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    width: 40%;
    height: 600px;
}
.gap3{
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size:cover; 
}
.gap3 img{
    background-size: cover;
    height: 600px;
}
.title3{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    padding-left: 50px;
    padding-top: 250px;
    padding-bottom:30px ;
    margin:auto;
    font-size: 70px;
}
.subtitle3{
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.9);
    padding-left:50px;
    margin: auto;
    font-size: 30px;
}